<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="initial_investment">Initial Investment:</label>
        <input type="number" step="0.01" name="initial_investment" required><br>
        <label for="buy_avg">Buy Moving Average (days):</label>
        <input type="number" name="buy_avg" required><br>
        <label for="sell_avg">Sell Moving Average (days):</label>
        <input type="number" name="sell_avg" required><br>
        <input type="submit" value="Backtest">
    </form>
    
</body>
</html>